#.gitignore

#ignore binary
APEXG4MC

#ignore logs
logs/
*.log

#ignore cmake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

#ignore root files
*.root

#ignore geant4 mac files?

#septum map too large
Septa-JB_map.table

#screenshots
*.png